.list-box {
	position: absolute;
	top: 50px;
	left: 100px;
	width: 1180px;
}
.list-box .header-title {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	font-size: 36px;
	color: #ffffff;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
}
.list-box .header-title span {
	font-size: 24px;
}
.list-box .list-content {
	position: absolute;
	top: 85px;
	left: -50px;
	width: 1180px;
	height: 420px;
}
.list-box .list-content .prev, .list-box .list-content .next {
	position: absolute;
	top: 170px;
	width: 25px;
	height: 80px;
}
.list-box .list-content .prev {
	left: 0;
	background: url('../images/prev.png') no-repeat;
}
.list-box .list-content .next {
	right: 0;
	background: url('../images/next.png') no-repeat;
}

.controller-nav, .controller-footer {
	width: 930px;
	left: 184px;
}
.controller-nav a {
	width: 25%;
}
.controller-footer a {
	width: 20%;
}
.controller-footer a:last-child, .controller-footer a:first-child {
	width: 20%;
}