html * {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	width: 1280px;
	height: 720px;
	background: url('../images/background.jpg') no-repeat;
	font-family: SimHei;
	overflow: hidden;
}
img {
	border: none;
}
a {
	outline: none;
	text-decoration: none;
}
.clearfix::before ,.clearfix::after {
	content: " ";
	display: table;
}
.clearfix::after {
	clear: both;
}
.hidden {
	display: none;
	visibility: hidden;
}

/* 角标样式 */
.icon-new {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 73px;
	height: 73px;
	background: url('../images/icon-new.png') no-repeat;
}
.icon-push {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 73px;
	height: 73px;
	background: url('../images/icon-push.png') no-repeat;
}
/* 角标样式 End*/

/* 头部导航样式 */
.header span {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 154px;
	height: 104px;
}
.header .recommend{
	left: 205px;
	background: url('../images/recommend.png') no-repeat;
}
.header .recommend.active {
	background: url('../images/recommend-active.png') no-repeat;
}
.header .recommend.focus {
	background: url('../images/recommend-focus.png') no-repeat;
}

.header .free{
	left: 392px;
	background: url('../images/free.png') no-repeat;
}
.header .free.active {
	background: url('../images/free-active.png') no-repeat;
}
.header .free.focus {
	background: url('../images/free-focus.png') no-repeat;
}

.header .sight{
	left: 578px;
	background: url('../images/sight.png') no-repeat;
}
.header .sight.active {
	background: url('../images/sight-active.png') no-repeat;
}
.header .sight.focus {
	background: url('../images/sight-focus.png') no-repeat;
}

.header .movie{
	left: 764px;
	background: url('../images/movie.png') no-repeat;
}
.header .movie.active {
	background: url('../images/movie-active.png') no-repeat;
}
.header .movie.focus {
	background: url('../images/movie-focus.png') no-repeat;
}

.header .premiere{
	left: 948px;
	background: url('../images/premiere.png') no-repeat;
}
/* 头部导航样式 End*/


/* 底部导航样式 */
.footer {
	position: absolute;
	left: 0;
	bottom: 24px;
	width: 100%;
	text-align: center;
	font-size: 0;
}
.footer span {
	position: relative;
	display: inline-block;
	width: 124px;
	height: 84px;
}
.footer .home {
	background: url('../images/home.png') no-repeat bottom;
}
.footer .home.focus {
	background: url('../images/home-focus.png') no-repeat top;
}
.footer .back {
	background: url('../images/back.png') no-repeat bottom;
}
.footer .back.focus {
	background: url('../images/back-focus.png') no-repeat top;
}
.footer .search {
	background: url('../images/search.png') no-repeat bottom;
}
.footer .search.focus {
	background: url('../images/search-focus.png') no-repeat top;
}
.footer .my {
	background: url('../images/my.png') no-repeat bottom;
}
.footer .my.focus {
	background: url('../images/my-focus.png') no-repeat top;
}
.footer .index {
	background: url('../images/index.png') no-repeat bottom;
}
.footer .index.focus {
	background: url('../images/index-focus.png') no-repeat top;
}
/* 底部导航样式 End */

/* 控制层 a 标签定位*/
.controller a {
	font-size: 0;
}
.controller-nav {
	position: absolute;
	top: 0;
	left: 0;
}
.controller-nav a {
	display: inline-block;
	width: 200px;
}

.controller-footer {
	position: absolute;
	top: 300px;
	left: 0;
	/*width: 800px;*/
}
.controller-footer a {
	display: inline-block;
	width: 132px;
}
.controller-footer a:last-child, .controller-footer a:first-child {
	width: 200px;
}
/* 控制层 a 标签定位 End */
